/* 
rem and em do NOT depend on html font-size in media queries!
Instead, we assume 1rem = 1em = 16px in media queries
媒体查询要比真正渲染页面更早被浏览器解析
在那个阶段，你的 html{font-size: xx} 根本还没有被执行
所以媒体查询里的 rem/em 就没办法使用最终渲染的字体大小
于是浏览器只能使用默认值（通常是16px）

所以媒体查询中应该使用rem或者em单位，但是社区更喜欢使用em单位
而且听说媒体查询使用rem在有些浏览器中会有bug
*/

/****************************/
/* BELOW 1344px (smaller desktop) */
/****************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/****************************/
/* BELOW 1200px (landscape tablet) */
/****************************/
@media (max-width: 75em) {
  /* 让字体缩小1px, 9px / 16px = 0.5625 */
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/****************************/
/* BELOW 944px (tablets) */
/****************************/
@media (max-width: 59em) {
  /* 让字体缩小1px, 8px / 16px = 0.5 */
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 60% / 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); /* 用 transform 做动画比用定位做的动画性能更好 */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); /* 模糊下面的所有元素，就像盖了个玻璃一样 */

    /* DEFAULT HIDE THE NAVIGATION */
    /* display: none;  如果用这个，就没办法有 transition */
    opacity: 0;
    pointer-events: none;
    visibility: hidden; /* Hide it from screen readers */
    transition: all 0.5s ease-in-out;
    /* transition: all 0.5s ease-out; */
    /* transition: all 0.5s ease-in-out; */
  }

  .nav-open .main-nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }
}

/****************************/
/* BELOW 704px (smaller tablets) */
/****************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 1.6rem;
  }
}

/****************************/
/* BELOW 544px (For Phones) */
/****************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .testimonials,
  .cta {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos {
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .logos img {
    height: 1.6rem;
  }

  .section-how,
  .section-meals {
    padding: 6.4rem 0;
  }

  /* nth-child 指的是父元素所有孩子里的第N个，跟step-img-box没有关系 */
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta-img-box {
    grid-row: 1;
    height: 32rem;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
}
