/****************************/
/* HEADER */
/****************************/
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/********** MOBILE NAVIGATION ************/
.btn-mobile-nav {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/********** STICKY NAVIGATION ************/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999; /* 要小于 btn-mobile-nav 的 z-index */
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/****************************/
/* HERO SECTION */
/****************************/
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/****************************/
/* SECTION FEATURED IN */
/****************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* 让图片颜色变灰，统一视觉效果 */
  /* filter: grayscale(100%); */
  filter: brightness(0);
  opacity: 0.5;
}

/****************************/
/* SECTION HOW */
/****************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  margin-bottom: 1.2rem;
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -2;
}

.step-img {
  width: 35%;
  z-index: 1;
}

/****************************/
/* SECTION MEALS */
/****************************/
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.3s; /* 记住，transition 要加到原来的元素上（比如：不能加到hover元素上） */
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.05);
  transform: translateY(-1.2rem);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #fcc419;
}

.meal-title {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.list-icon {
  font-size: 3.2rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/****************************/
/* SECTION TESTIMONIALS */
/****************************/
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  /* padding: 9.6rem 0; padding 由子项提供 */
  background-color: #fdf2e9;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  display: block; /* 取消图片之间的间隙 */
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/****************************/
/* PRICING SECTION */
/****************************/
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  border-radius: 1.2rem;
  overflow: hidden;
}

.pricing-plan--starter {
  margin-left: auto;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
}

.pricing-plan--complete {
  position: relative;
  padding: 4.8rem;
  background-color: #fdf2e9;
}

.pricing-plan--complete::after {
  content: 'Best Value';
  position: absolute;
  top: 7%;
  right: -18%;
  padding: 0.8rem 8rem;
  background-color: #fcc419;
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  margin-bottom: 3.2rem;
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.plan-price {
  margin-bottom: 1.6rem;
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.plan-price span {
  margin-right: 0.8rem;
  font-size: 3rem;
  font-weight: 500;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  font-size: 2.4rem;
  color: #e67e22;
  /* 这里的圆圈背景利用的原理是，这个 icon 的 box-sizing 是 content-box */
  background-color: #fdf2e9;
  border-radius: 50%;
}

.feature-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

/****************************/
/* CTA(call to action) SECTION */
/****************************/
.section-cta {
  /* top / horizontal / bottom */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;

  /* background-image: linear-gradient(360deg,red,#e67e22); */
  /* background-image: linear-gradient(to right,red,#e67e22); */
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url('../content/images/eating.jpg');
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  background-color: #fdf2e9;
  color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 这里的 placeholder是为元素选择，不是伪类选择器 */
.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/****************************/
/* FOOTER */
/****************************/
.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.social-icon {
  font-size: 2.4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
}

.footer-heading {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
